.toggle-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--faded-gray);
  padding: 0 1.5rem;
  border-radius: 2.8rem;
  height: 4.6rem;
  cursor: pointer;
  position: relative;
  width: fit-content;
  z-index: 15;

}
.MuiSwitch-switchBase.Mui-checked {
    color: var(--olive) !important; 
  }
.MuiSwitch-switchBase {
  color: var(--olive)!important;
}
.MuiSwitch-switchBase.Mui-checked + .MuiSwitch-track {
  background-color: var(--sage-green) !important; 
  opacity: 1 !important;
}
.toggle-icon {
  color: white;
}


/* LIGHT MODE.......... */

.light-text {
  color: var(--dark-green);
}
