.main-category-wrapper.wrapper {
  background-color: var(--dark-green);
  min-height: 80vh;
  align-items: flex-start !important;
}
.mainCategory-bg {
  width: 100%;
  min-height: 600px;
  background-image: url("../assets/images/mainCategory.svg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 3.5%;
  position: relative;
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.mainCategoryText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #262b2e99;
  padding: 1rem 2.5rem 2rem 2.5rem;
  border-radius: 1.2rem;
  border: 2px solid var(--faded-gray);
  max-width: 700px;
  backdrop-filter: blur(5px);
}
.main-parag {
  margin-top: 0.8rem;
  width: 90%;
}
.mainCategory-container {
  width: 100%;
  padding: 0 3.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5rem;
}
.breadcrumbs-search-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  gap: 4rem;
}
.breadcrumbs-wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.categories-title {
  font-size: clamp(4rem, 3vw, 6vw);
  padding-top: 3rem;
}
.breadcrumb {
  color: var(--white);
  font-family: "Comfortaa", sans-serif;
}
.categories {
  color: rgba(136, 133, 133, 0.786);
}

.inner-main-category {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.main-categories-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
  gap: 3rem;
  place-items: center;
  margin-top: 5rem;
  padding-bottom: 5rem;
}
.main-category-card {
  width: 300px;
  border-radius: 1.2rem;
  border: 1px solid var(--faded-gray);
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2rem 0;
  z-index: 5;
  position: relative;
  background-color: var(--faded-gray);
  background-position: right;
  min-height: 8rem;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 5;
}
.main-category-card::before{
content: "";
position: absolute;
width: 100%;
height: 100%;
background-color: #2d9a9a92;
border-radius: 1.2rem;
transform: scaleX(0);
transition: .3s ease-in-out;

}
.main-category-card:hover:before{
  transition: .35s ease-in-out;
  
  transform: scaleX(1);

}
.main-category-card:nth-child(2n) {
  background-color: #203939;
  border: 1px solid #203939;
}
.main-category-card:nth-child(3n) {
  background-color: #926b45;
  border: 1px solid #926b45;
}
.main-category-card:nth-child(4n) {
  background-color: #265d29;
  border: 1px solid #265d29;
}
.main-category-card:nth-child(5n) {
  background-color: #552b55;
  border: 1px solid #552b55;
}
.category-img {
  width: 100%;
}
.category-card-title {
  font-size: 2rem;
  text-transform: uppercase;
  z-index: 5;
}
.overlay.main {
  border-radius: 1rem;
}
/* LIGHT MODE STYLES....... */

.light-card:nth-child(2n) {
  background-color: #2d9a9a;
  border: 1px solid #2d9a9a;
}
.light-card:nth-child(3n) {
  background-color: #eea761;
  border: 1px solid #eea761;
}
.light-card:nth-child(4n) {
  background-color: #41a846;
  border: 1px solid #41a846;
}
.light-card:nth-child(5n) {
  background-color: #904d90;
  border: 1px solid #904d90;
}


@media (max-width: 678px) {
  .breadcrumbs-search-wrapper {
    flex-direction: column;
    align-items: flex-start;
  }
  .search-btn {
    right: -1.5rem!important;
  }
  .main-category-card {
    width: 100%;
  }
}
