.hero-wrapper {
  width: 100%;
  position: relative;
  z-index: 5;
  overflow: hidden;
  flex-direction: column;
}
.fixed-bg{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background: url("../../../assets/images/fixed-bg.svg")no-repeat center/cover;
    
  }
.searchSection-container{
    width: 100%;
    padding: 5rem 3.5%;
    min-height: 700px;
    background-color: transparent!important;
    display: flex;
    align-items: center;
    justify-content: flex-end;
   position: relative; 
   z-index: 5;
   

}
