.wrapper {
  width: 100% !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  flex-direction: column!important;

}

.light-body-bg {
  background-color: var(--white);
}
.light-text {
  color: var(--dark-green) !important;
}
.light-cards-bg {
  background-color: var(--white) !important;
  background-color: #CFE7D9!important;

  border: none!important;

}
.light-single-cards-bg {
  background-color: #629e5a !important;
}
.light-title{
  color: rgba(0, 0, 0, 0.356)!important; 
 
}
/* Customize the scrollbar container */
::-webkit-scrollbar {
  width: 12px !important;
  background-color: #0c2518;
}
::-webkit-scrollbar-thumb {
  background-color: #61ad85;
  border-radius: 10px;
  height: 50px !important; 

}
