/* Common styles.................... */
.wrapper {
  width: 100% !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  flex-direction: column!important;


}
button:hover,a:hover{
  opacity: 0.8!important;
  scale:1.1!important;
  transition: .3s ease-in-out;
}
.link{
  font-weight: 600!important;
}
.searchBar-wrapper{
  max-width: 720px!important;
  width: 100%!important;
}

/* Light Mode styles.................... */
.light-body-bg {
  background-color: var(--white)!important;
}
.light-text {
  color: var(--very-dark-green) !important;
}
.light-cards-bg {
  background-color: var(--white-3) !important;
  box-shadow: 0 0 2rem -1rem rgba(21, 125, 125, 0.209)!important;

}

.light-title{
  color: rgba(0, 0, 0, 0.356)!important; 
 
}
.light-input{
  border-color:  darkgray!important;
  border-color: 1px solid darkgray!important;
  color: var(--very-dark-green);
}

